h1 {
    font-size: 40px;
    margin: 10px;
}


.video-container {
    width: 100%;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(55, 55, 55, 0.2) 0px 7px 29px 0px;
}
.video-container iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.video-playlist {
    padding: 10px;
}

.video-playlist h2 {
    margin-left: 10px;
}



.playlist-selector {
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: rgba(55, 55, 55, 0.2) 0px 7px 29px 0px;
}

.playlist-selector button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    border-radius: 5px;
    border: none;
    margin: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.playlist-selector button:hover {
    background-color: rgb(200, 200, 200);
}

.active {
    background-color: rgb(200, 200, 200);
}

h4 {
    margin: 5px;
}

.playlist-selector button img {
    width: 10%;
    height: 80px;
    border-radius: 5px 0px  0px 5px;
    margin-right: 10px;
}